include README
include debian/README
include debian/compat
include debian/control
include debian/copyright
include debian/docs
include debian/rules
include debian/changelog
include AUTHORS
include COPYING
include ChangeLog
include gflags.py
include gflags2man.py
include gflags_helpxml_test.py
include gflags_unittest.py
include gflags_validators.py
include gflags_validators_test.py
include setup.py
include test_module_bar.py
include test_module_foo.py
