/* RESET -------------------------------------------------------*/


* {
margin:0px;
padding:0px;
outline:none !important;
text-decoration:none
}


li {list-style:none}

/* GENERAL ----------------------------------------------------- */

html { height:100%}


body {
font-family: Arial, sans-serif;
overflow:hidden;
height:100%;
font-size: 12px;
color:#4e4e4e
}


#bghelp {position:fixed; top:0px; left:0px; right: 0px; bottom:0px; width:100%; height:100%;
/*-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover*/}

.red{color:#c30}

.cursor{cursor:pointer}

#loading {
display: none;
width: 300px;
height: 300px;
position: absolute;
top: 10%;
left: 10%;
background: #fff}

.remove_date {
text-align:center;
color:#11C;
text-decoration:underline;
padding-bottom:5px;font-size:10px;cursor:pointer}

#content h1, #content h2, #content h3 {
word-wrap: break-word;font-size:18px;letter-spacing:1px;color:#fff; text-shadow: 0px 1px 3px #333;
text-align:center;margin-bottom:13px; padding-bottom:3px}

#content h1 {margin-top:14px}

#content h2 { 
font-size:14px;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
opacity:0.8; 
-moz-opacity: 0.8;
margin-top:25px; 
margin-bottom:10px}

#content h3 { 
font-size:12px; 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
opacity:0.7;
-moz-opacity: 0.7;
text-align:center; padding-top:16px !important; margin-top:0px}

a {color:#393939}

.pl8 {padding-left: 8px}


/* LEFT BOTTOM BAR -------------------------------------------------------------------------------*/

#bottombar {
background:url('../images/bottombar.png') repeat-x;
position:fixed;
bottom:0px;
left:0px;
height:36px;
width:100%}

#left {float: left; padding:8px; padding-right:0px; padding-left:42px}


/* RIGHT BOTTOMBAR ------------------------------------------------------------*/

#right {float:right; padding:10px 40px 8px 0px}

/* Add List */

#right a.addlist {
-webkit-box-shadow:0px 1px 1px #676767;
-moz-box-shadow:0px 1px 1px #676767;
box-shadow:0px 1px 1px #676767;
padding:0px 10px;
font-size:10px;
padding-top:3px;
width:auto !important;
color:#ccc !important;
display:block;
text-indent: 0px !important;
cursor:pointer;
font-size:11px;
border:1px solid #343434;
margin-top:-2px;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
height:16px !important;
color:#fff !important;
background:url(../images/bottombar_active.png) top left repeat-x;
text-shadow:0px 1px 1px #135680 !important; /*176ea5*/
font-weight:bold;
opacity:1.0 !important}

/* Show Help */

.showhelp {margin:0px 10px 0px 6px !important;background:url(../images/showhelp.png);width:19px !important;height:19px}

.showhelp:hover {background-position: 19px 0px}

/* BG Switcher START */

.backgroundswitcher {
opacity:1.0 !important; background:url(../images/bgswitch.png); height:19px; width:17px; padding-left:17px; background-repeat: no-repeat !important}

.backgroundswitcher:hover, .backgroundswitcheractive {background-position: 0px -19px}

.activebackground { width:14px; height:19px; background-position: top right !important; display:block; background-repeat: no-repeat !important}

#bottombar #right a:hover { cursor:pointer}

#bottombar .bgone { background:url(../images/icon_wood.png)}
#bottombar .bgtwo { background:url(../images/icon_wheat.png)}
#bottombar .bgthree { background:url(../images/icon_bokeh.png)}
#bottombar .bgfour { background:url(../images/icon_blue.png)}
#bottombar .bgfive { background:url(../images/icon_royal_purple.png)}
#bottombar .bgsix { background:url(../images/icon_darkfade.png)}
#bottombar .bgseven { background:url(../images/icon_whitefade.png)}
#bottombar .bgeight { background:url(../images/icon_monster.png)}
#bottombar .bgnine { background:url(../images/icon_darkwood.png)}

#bottombar .bgten { background:url(../images/icon_chalkboard.png)}
#bottombar .bgeleven { background:url(../images/icon_forrest.png)}
#bottombar .bgtwelve { background:url(../images/icon_leaf.png)}

span#credits { float:right; font-weight: bold; padding:2px 5px; cursor:pointer}

/* CONTENT --------------------------------------------------------------------------------- */

#content {
padding:20px 20px 20px 20px;
color:#4e4e4e;
overflow:auto;
position:fixed; left:0px; right:259px; bottom: 36px; top:40px}

	#content ul {min-width:300px !important}

#content .mainlist, #content .donelist { margin-bottom:12px }

#content .mainlist li, .donelist li {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
-webkit-box-shadow:0px 1px 3px #333;
-moz-box-shadow:0px 1px 3px #333;
box-shadow:0px 1px 3px #333;
padding:7px 0px 0px 8px;
position:relative;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border-radius:5px;
overflow: hidden;
cursor:pointer;
min-height:20px;
margin-bottom:5px}

/* Add Task Field */

div.add {
margin-bottom:20px;
position:relative; height:33px;
background:url(../images/addbar.png) repeat-x;
-webkit-border-radius:6px;
border-radius:6px;
-moz-border-radius:6px}

div.add div.addwrapper {width:auto !important;position:absolute;right:90px;top:0px;left:28px}

div.add div.addwrapper input {
width:100%; margin:auto !important; padding:10px 0px; background:none;
font-family:Arial, Verdana; font-size:13px; color:#fff;border:none}

div.add div.addwrapper.filter-add {left: 10px !important}

div.add .showdate {position:absolute; right:-70px !important; top:10px; font-size:11px; font-weight:bold; color:#fff}

/* Done Tasks */

#content li.done {
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
opacity:0.6; 
-moz-opacity: 0.6;
filter:Alpha(opacity=60);
color:#333;text-decoration:line-through}

#content span.fav, #content .donelist span.favina { cursor:default}

#content .placeholder {
background:#fff;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity20)";
opacity:0.2; 
-moz-opacity: 0.2;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
height:24px;
padding-top:10px;
padding-left:10px;
margin-bottom:5px}

div.dragging {
z-index:1000 !important;
width:35px !important;
height:35px !important;
background:url(../images/dragging.png) !important}

#content .description {
white-space:nowrap;overflow:hidden;text-overflow:ellipsis;position:absolute;
right:132px;left:52px;top:0px;padding-top: 7px;height: 27px;display:block;color:#333}

#content .description a {color:#2597e2}
#content .description a:hover {text-decoration: underline}

#content .showdate {position:absolute; right:52px; font-size:11px; font-weight:bold}

#content .addhere {letter-spacing:1px; text-shadow: #333 0px 1px 2px; font-weight:bold; margin-top:12px; text-transform: uppercase}
#content .addhere a { color:#fff}
#content .addhere a:hover { cursor:pointer}

#content button#older_tasks_head, #content button#hide_older_tasks {
font-weight:normal; font-size:11px;
cursor:pointer; width: 200px; margin:30px auto 0px auto;
display:block; float:none;
background:url(../images/task.jpg);
-webkit-box-shadow:0px 1px 3px #333;
-moz-box-shadow:0px 1px 3px #333;
box-shadow:0px 1px 3px #333;
border:none;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
opacity:0.6; 
-moz-opacity: 0.6;}

#content button#hide_older_tasks {
display: none}

#content button#older_tasks_head:hover {opacity:1.0}

#content #older_tasks {display:none}

li input { font-family:Arial; border:none;margin-left:7px;margin-top:-3px; background:none; font-size:12px; color:#4e4e4e}


/* CONTENT ICONS ----------------------------------------------------------------------- */

.input-checked {float:left; margin-right:7px}
.input-add {width:80%; margin-right:7px; margin-top:-3px; padding-left:20px}

.input-add::-webkit-input-placeholder { color:#fff; opacity:0.5}
.input-add::-moz-input-placeholder { color:#fff; opacity:0.5}
.input-add::input-placeholder { color:#fff; opacity:0.5}

.ui-datepicker-trigger { opacity:0.8; float:left; margin-right:7px; cursor:pointer}
.mainlist li .ui-datepicker-trigger { float:left; margin-right:7px}
.ui-datepicker-trigger:hover {opacity:1.0}

div.add .ui-datepicker-trigger { margin-top:10px; margin-left:7px}

.donelist .ui-datepicker-trigger { display:none}

#task-edit {position:absolute;right:134px;left:45px;top:7px;
-webkit-box-shadow: inset 1px 1px 3px #999;
-moz-box-shadow: inset 1px 1px 3px #999;
box-shadow: inset 1px 1px 3px #999;
-webkit-border-radius:15px;
border-radius:15px;
-moz-border-radius:15px;
background:#fff; 
padding:3px 6px}

#ui-datepicker-div { z-index: 100 !important}

/* BADGES ------------------------------------------------------------------------------ */

#today, #overdue, #all, #starred, #someday, #done, #thisweek, #withoutdate, #tomorrow {
position:relative}

#today span, #overdue span, #all span, #starred span, #someday span, #done span, #withoutdate span, #thisweek span, #tomorrow span {
position:absolute;
top:-10px; right:0px;
padding:2px 6px;
font-size:9px;
color:#fff;
font-weight:bold;
-webkit-box-shadow: 0px 0px 3px #333;
-webkit-box-shadow: 0px 0px 3px #333;
box-shadow: 0px 0px 3px #333;
background:#c30;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;}

/* CONTENT ICONS ----------------------------------------------------------------------- */

#content span.icon {height:14px; display:block; float:left; width:14px; margin-right:7px}

#content span.delete {background:url(../images/icons/delete_active.png); opacity:0.5; float:right; display: none; cursor:pointer; height:16px}
#content span.delete:hover {opacity:1.0;}

#content span.note {position:absolute;right:19px;top:7px;background:url(../images/icons/note.png); display:none; cursor:pointer; height:16px; width:16px; margin-top:-1px; text-indent: -8765px; overflow:hidden; color:transparent}
#content span.note:hover {background:url(../images/icons/note.png);}

#content .mainlist li:hover span.note {display:block}

#content span.activenote {display:block;background:url(../images/icons/note.png);}

#content span.fav {width:16px; height:24px; margin-top:-9px;background:url(../images/icons/important.png);cursor:pointer}
#content span.favina {width:16px; height:14px; margin-top:-1px;background:url(../images/icons/star.png) no-repeat;cursor:pointer}

.mainlist li .ui-datepicker-trigger {position:absolute; right:44px; top:7px; display:none; background:url(../images/icons/star.png)}
#content .mainlist li:hover .ui-datepicker-trigger {display:block}

/* -- Share Functions Of Lists ---------------------------------------------------------------- */

#listfunctions {position:absolute; right:20px; height:17px; top:10px; z-index:2}

	#listfunctions a {
	width:17px; height:17px; background:#000; display:block; float:left;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity:0.5; 
	-moz-opacity: 0.5;
	cursor:pointer; margin-left:10px}
	
	#listfunctions a:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity:1.0; 
	-moz-opacity: 1.0}

	#listfunctions .list-print {background:url(../images/icons/print.png) no-repeat}
	#listfunctions .list-email {background:url(../images/icons/sendmail.png) no-repeat}
	#listfunctions .list-cloud {background:url(../images/icons/cloudapp.png) no-repeat}
	#listfunctions .list-share {background:url(../images/icons/sharelist_white.png) no-repeat}


/* Submenus */

#left ul ul {position:absolute;left:150px;bottom:0px}

/* Active Menu and Indicator for Children */
#left ul li.hasChild {position:relative; background:#4b4b4b url(../images/icons/hasChild.png) 128px no-repeat!important}

#left ul li.currenttree, #left ul li:hover {
-webkit-box-shadow:inset 0px 1px 1px #84c7f4; 
-moz-box-shadow:inset 0px 1px 1px #84c7f4; 
box-shadow:inset 0px 1px 1px #84c7f4;
color:#fff;border:none;
background-color:#32a3f0 !important;
background:-webkit-gradient(linear, left top, left bottom, from(#32a3f0), to(#1389d3)) !important;
background: -moz-linear-gradient(top,  #32a3f0,  #1389d3) !important}

/* Not Yet implemented Menus */
#left ul li.notyet, #left ul li.notyet:hover { background:#4b4b4b !important; cursor:default; border:none !important;}
#left ul li.notyet a, #left ul li.notyet:hover a { color:rgba(255,255,255,0.3) !important; border:none !important;}

/* Icon Menus */
#left ul li a.icon {padding-left:32px;background-repeat:no-repeat !important; background-position:10px 4px !important; width:98px;}
#left ul li a.settings {background-image:url(../images/icons/settings.png) !important}
#left ul li a.logout {background-image:url(../images/icons/logout.png) !important}
#left ul li a.downloads {background-image:url(../images/icons/downloads.png) !important}
#left ul li a.aboutus {background-image:url(../images/icons/about.png) !important}

/* SIDEBAR LEFT ---------------------------------------------------------------------------- */

.sidebarleft #content {right:0px}
.sidebarleft #sidebar {background:url(../images/sidebar_left.png)}
.sidebarleft h3 {left:0px; right:auto}
.sidebarleft .searchside {left:-10px}

.sidebarleft #left {position:absolute; left:268px}
.sidebarleft #right {float:left; padding-left:37px}
.sidebarleft .togglesidebar {left:8px; right:auto; background-position: -19px 0px}
.sidebarleft .hidden {background-position: 0px 0px}
.sidebarleft #right a {float:left !important}
.sidebarleft #backgroundList {left:16px}
.sidebarleft #notification {left:0px;}

.sidebarleft #sync {left:276px}
.sidebarleft #syncing {left:281px}
.sidebarleft # {}

.sidebarleft .showhelp {margin:0px 8px 0px 0px!important}

/*project adds */

#content h1 {
	text-align: left;
}

#bottombar a.bottombutton {
	-webkit-box-shadow: 0px 1px 1px #676767;
	-moz-box-shadow: 0px 1px 1px #676767;
	box-shadow: 0px 1px 1px #676767;
	padding: 0px 10px;
	font-size: 10px;
	padding-top: 3px;
	width: auto !important;
	color: #CCC !important;
	display: block;
	text-indent: 0px !important;
	cursor: pointer;
	font-size: 11px;
	border: 1px solid #343434;
	margin-top: -2px;
	border-radius: 3px;
	height: 16px !important;
	color: white !important;
	background: url(../images/bottombar_active.png) top left repeat-x;
	text-shadow: 0px 1px 1px #135680 !important;
	font-weight: bold;
	opacity: 1.0 !important;	
	float: left;
	margin-right: 5px;
	margin-top: 0px;
}

#left {
	padding-left: 20px;
}